APP_NAME="Patricia Cuesta Psicología"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=patricia_cuesta
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_FROM_ADDRESS="web@patriciacuesta.es"

ADMIN_EMAIL=
ADMIN_PASSWORD=

VITE_APP_NAME="${APP_NAME}"
